<table border="solid">
<h2>LISTADO DE MASCOTAS</h2>
<thead>
<tr>
<th>Nombre de la mascota</th>
<th>Nombre del dueño</th>
<th>Cédula del dueño</th>
<th>Edad de la mascota</th>
<th>Teléfono del dueño</th>
<th>Opciones</th>
</tr>
</thead>
<tbody>
{{#each mascotas}}
<form method="post" action="/mascotas/actualizar/{{cedula_duenio}}">
<tr>
<td><input id="mascota" name="mascota" value="{{nombre}}" {{../opcion}}></td>
<td><input id="duenio" name="duenio" value="{{nombre_duenio}}" {{../opcion}}></td>
<td><input id="cedula" value="{{cedula_duenio}}" disabled></td>
<td><input id="edad" name="edad" value="{{edad}}" {{../opcion}}></td>
<td><input id="telefono" name="telefono" value="{{telefono_duenio}}" {{../opcion}}></td>
<td>
{{#if ../activo}}
<a class="eliminar" href="mascotas/eliminar/{{cedula_duenio}}">Eliminar</a>
<a class="editar" href="/mascotas/activar">Editar</a>
{{else}}
<input type="submit" value="Enviar">
{{/if}}
</td>
</tr>
</form>
{{/each}}
</tbody>
</table>
<a href="mascotas/agregar">Agregar mascotas</a>
<a href="/">Volver</a>

